html {
    font-family: sans-serif;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.content {
    height: 100%;
}

.routing-guide {
    width: 300px;
    height: 470px;
    border: black line;
}

.survey {
    width: 300px;
    height: 625px;
    border: black line;
}

.breadcrumb a {
    color: #71e201;
    text-decoration: none;    
}

.content-padding {
    padding-left: 17px;
}

.breadcrumb-current {
    color: lightgrey;
}

#logo {
    width: 100px;
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
}

#close-button {
    float: right;
    width: auto;
    margin: 13px;
    width: 17px;
}

header {
    height: 41px;
    background: black;
    border-top-left-radius: 16px;
    border-bottom: 4px #C3E900 solid;
    margin-bottom: 17px;
}

#nav-links {
    list-style: none;
    padding-left: 3px;
}

#nav-links a {
    text-decoration: none;
}

#nav-links a li {
    color: lightgray;
    padding-left: 17px;
    height: 50px;
    line-height: 50px;
}

#nav-links a li:hover {
    background-color: rgba(108, 233, 0, 0.1);
    color: #C3E900;
    vertical-align: middle;
}

#nav-links a li:active {
    background-color: rgba(108, 233, 0, 0.5);
    color: white;
    vertical-align: middle;
}

#nav-links li img {
    padding-right: 10px;
    padding-top: 4px;
    width: 40px;
    height: 40px;
}

#back-link {
    margin-top: 20px;
}

footer {
    height: 20px;
    background-color: #E5E5E5;
    width: 100%;
}

footer img {
    height: 80%;
    padding-top: 2px;
    padding-left: 5px;
}