html {
    font-family: sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.routing-guide {
    width: 300px;
    height: 470px;
    border: black line;
}

.breadcrumb a {
    color: #71e201;
    text-decoration: none;    
}

.content-padding {
    padding-left: 17px;
}

.breadcrumb-current {
    color: lightgrey;
}

#logo {
    width: 100px;
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
}

#close-button {
    float: right;
    width: auto;
    margin: 13px;
    width: 17px;
}

header {
    height: 41px;
    background: black;
    border-top-left-radius: 16px;
    border-bottom: 4px #C3E900 solid;
    margin-bottom: 17px;
}

nav ul {
    list-style: none;
    padding-left: 3px;
}

nav ul a {
    text-decoration: none;
}

nav ul a li {
    color: lightgray;
    padding-left: 17px;
    height: 45px;
    line-height: 45px;
}

nav ul a li:hover {
    background-color: rgba(108, 233, 0, 0.1);
    color: #C3E900;
    vertical-align: middle;
}

nav ul a li:active {
    background-color: rgba(108, 233, 0, 0.5);
    color: white;
    vertical-align: middle;
}

nav ul li img {
    padding-right: 10px;
    padding-top: 4px;
}